<div class="container">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.photo_url %>)">
  <%= @cocktail.name%>
</div>
<br>
<h3>Ingredients</h3><p> <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %> </p>
<% @cocktail.doses.each do |dose| %>
<p> <%= dose.description %> <%= dose.ingredient.name %> <%= link_to "delete",
            cocktail_dose_path(@cocktail, dose),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </p>
<% end %>

</div>